tbody > tr {
  background-color: #b8dc6f;
}

.btn-prim {
  background-color: #b8dc6f;
}

#saveButton {
  background-color: #82a145;
}

input {
    width: 100px;
    height: 40px;
    
}

thead > tr {
  background-color: #006666;
}

.inp:only-child {
  background-color: #cce698;
}

.date {
    width: 150px;
    height: 40px;
}