#container {
  background-color: #c1e081;
  font-family: "Lucida Console", Monaco, monospace;
}

#pageHeader {
  background-color: #044242;
  color: #70928f;
  font-family: "Lucida Console", Monaco, monospace;
}

thead > tr {
  color: #a4c1be;
  background-color: #006666;
  font-weight: bold;
}

tbody > tr {
  color: #1d4b50;
  background-color: #b8dc6f;
}

.btn-prim {
  background-color: #b8dc6f;
}

#saveButton {
  color: #a4c1be;
  background-color: #026666;
  font-weight: bold;
}

input {
    width: 100px;
    height: 40px;
    
}

.inp:only-child {
  background-color: #cce698;
  padding: 5px;
}

.date {
    width: 150px;
    height: 40px;
}

[active=true] {
  background-color: #055a5a
}

::-webkit-inner-spin-button { display: none; }